.box{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 0;
}
.btnAd{
    text-align: center;
    font-size: 20;
    font-weight: bold;
}
.placedUp{
    position: absolute;
    padding: 2.5% 5% 2.5% 5%;
    top: 5%;
    left: 5%;
}
.placedDown{
    position: absolute;
    padding: 2.5% 5% 2.5% 5%;
    bottom: 5%;
    left: 37.5%;
}
.box img{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0%;
    left: 0%;
    /* z-index: ; */
}