body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: #f4df20;
    position: fixed;
    width: 100%;
    /* height: 40%; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.burgerItem{
    order: 1;
    margin: 3.5% 0 0 3.5%;
}
.titleItem{
    order: 2;
    margin: 3.5% 0 0 7.5%;
}
.searchItem{
    order: 3;
    margin: 3.5% 0 0 10%;
}
.shopItem{
    order: 4;
    margin: 3.5% 3.5% 0 0;
}
.titleMS{
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* sidebar */
.sideBar{
    position: absolute;
    top: 50px;
    bottom: 0;
    /* left:-100%; */
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    z-index: 1;
    /* animation: showSideBar 0.3s; */
}
@keyframes slideSideBar{
    from{left: -100%}
	to{left: 0}
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
    font-size: 22px;
    padding: 0 0 2% 0;
    font-weight: bold;
}
.list{
    margin: 17.5% 0 0 0;
}
/* border of li */
.sideBar .list ul div{
    border-bottom: 1px #ffffff solid;
    margin: 0 3.5% 5% 3.5%;
}
.faq{
    margin: 25% 0 0 0;
    text-align: center;
}
.faq ul li{
    margin: 0 0 3.5% 0;
}

/* searchBar */
.searchBar{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 50px;
    z-index: 2;
}
input{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 22px;
    padding: 3.5% 0 3.5% 3.5%;
}
.triangle{
    width: 5px; 
    height: 5px; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
    position: fixed;
    right: 18.5%;
    top: 5%;
    z-index: 4;
}

/* class hidden */
.hidden{
    display: none;
}
/* class not hidden */
.show{
    display: block;
}

.showMoving{
    animation: showSideBar 0.3s;
}