.routeStory{
    width: 100%;
    height: 7.5%;
    background: #ffffff;
}
.routeStory p a{
    color: #000000;
}
.routeStory p{
    font-weight: bold;
    padding: 4.5% 0 4.5% 3.5%;
}
.productActions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0 1%;
    background: #ffffff;
}
.shareProduct{
    margin: 0 0 0 3.5%;
}
.zoomProduct{
    margin: 0 3.5%;
}
.amountImages span{
    width: 5px;
    height: 2px;
    background: black;
    display: inline-block;
}
.productImage img{
    width: 100%;
    height: 100%;
}
.productImage{
    width: 100%;
    height: 300px;
}
.productInfo{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff;
    padding-top: 3%;
}
.productColor{
    font-size: 20px;
    background: #ffffff;
}
.colors div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px #000000 solid;
    margin: 2% 2% 2% 0;
}
.sizes div{
    height: 50px;
    width: 50px;
    border: 1px #000000 solid;
    background: #C4C4C4;
    margin: 2% 5% 2% 0;
    text-align: center;
}
.sizes{
    flex-wrap: wrap;
    padding: 2% 0 0 3.5%;
}
.sizesGuide{
    text-decoration: underline;
    text-align: center;
    font-size: 16px;
}
.productDescription{
    color: #868181;
    font-size: 18px;
}